# Environment variables example
# Fill it with actual data before running the bot.

TOKEN= # discord bot token
CHANNEL_ID= # announcements channel id
URL="https://www.odysea.us.to/announcements/announcements.shtml" # announcements source
CHECK_FREQ=60 # announcements check frequency in seconds