# Environment variables example
# Fill it with actual data before running the bot.

TOKEN= # discord bot token
OWNER_IDS= # owner user ids separated by commas
TESTERS_ROLE= # testers role id for limited admin access
CHANNEL_ID= # announcements channel id
SERVER_URL="https://www.odysea.us.to" # announcements source
CHECK_FREQ=60 # announcements check frequency in seconds
WHITELIST_PATH= # full path to the alpha vault whitelist json file